{% extends 'events/base.html' %}
{% block content %}

<!-- Portfolio -->
{% for apps in  apps_list %}
<div id="caseStudies" class="container content-space-2 content-space-lg-3" style="background: {{ apps.AppBgColor }}; border-radius:30px;">
  <div class="d-grid gap-7 gap-md-10">
    <!-- Card -->

    <div data-aos="fade-up">

        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 order-lg-2 mb-5 mb-lg-0">
              <div class="d-flex flex-column h-100">
                <div class="mb-7">

                  <h2 class="card-title h1">{{ apps }}</h2>
                  <p class="card-text text-body">{{ apps.AppSmallDescription }}</p>
                </div>

                <!-- Testimonials -->
                <div class="card shadow-none mt-auto" style="border-radius:30px;">
                  <div class="card-body">
                    <!-- Blockquote -->
                    <figure>
                      <div class="mb-4">
                        {% if apps.AppLogo %}
                                     <img class="card-img" style="object-fit: cover;width: 74px;
                          height: 90px; padding:10px;" src="{{apps.AppLogo.url}}"/>
                        {% endif %}
                      </div>

                      <blockquote class="blockquote">“{{ apps.AppDescription }}”</blockquote>


                    </figure>
                    <!-- End Blockquote -->
                  </div>
                </div>
                <!-- End Testimonials -->
              </div>
            </div>
            <!-- End Col -->

            <div class="col-lg-8">
              <div class="mb-5">
                {% if apps.AppImage %}
                           <img class="card-img" style="object-fit: cover;width: 800px;
                              height: 400px; padding:10px;border-radius:30px;" src="{{apps.AppImage.url}}"/>
                            {% endif %}
              </div>

              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <h4 class="card-title">Developed By</h4>
                  {% for developer in apps.AppDevelopers.all %}
                  <p class="card-text text-body">
                    <ul>

                  <li><i>{{ developer }}</i></li>
                </ul>
                    </p>
                  {% endfor %}
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                  <h4 class="card-title">Open Source</h4>



                       <a href="#"><p class="card-text text-body">{{ apps.AppURL }}</p></a>
                  <p class="card-text text-body">{{ apps.AppMailID }}</p>




                </div>
                <!-- End Col -->
              </div>
              <!-- End Row -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>

    </div>

    <!-- End Card -->
  </div>
</div>
<br/>
<!-- End Portfolio -->
{% endfor %}

{% endblock %}