{% extends 'events/base.html' %}

{% block content %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>



    </style>
</head>
<body>


<center>
<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Explore Varieties of Blogs</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>

        </p>
      </div>
    </div>
</center>



<div class="container">

    <!--<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">-->





<!-- Card -->
<div class="card card-flush " style="border:0px;">

  <div class="row align-items-md-center">
      {% for event in events_list %}
    <div class="col-md-8" style="padding:15px;">
        <center>
     {% if event.image %}
             <img class="card-img" style=" border-radius:30px;object-fit: cover;width: 700px;
  height: 300px;" src="{{event.image.url}}"
             />
{% endif %}
            </center>
    </div>
    <!-- End Col -->

    <div class="col-md-4" >
      <div class="card-body" style="">
        <span class="card-subtitle">{{ event.manager }} | {{ event.event_data }}</span>
        <h2 class="card-title">{{ event }}</h2>
        <p class="card-text">{{ event.small_des|slice:":100" }}</p>
         <a href=" {% url 'show-event' event.id %} "><button type="button" style=" border-radius:30px;" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
      </div>
    </div>
    <!-- End Col -->
      {% endfor %}
  </div>

  <!-- End Row -->
</div>
<!-- End Card -->



</div>


</body>
</html>

{% endblock %}