{% extends 'events/base.html' %}


{% block content %}
<html>

<style>

    p {

    font-size:20px;

    }

</style>

<body>

 <div class="container">
        <center>
        <h1><b>{{event}}</b></h1>
            <br/>
       {% if event.image %}
             <img style="border-radius:30px;" height="50%" width="60%" src="{{event.image.url}}"
                    />
{% endif %}
            <h6><i>{{ event.imgsrc }}</i></h6>
            </center>
        <br/><br/>
     <h5>By {{ event.manager }} | {{ event.event_data }}</h5>
     <br/>
        <p>{{event.description|linebreaks}}</p>
    </div>

</body>

</html>





{% endblock %}